<div class="jumbotron">
  <a class="btn btn-success btn-lg btn-block" href="#" role="button">Check In</a>
  <br>
  <a class="btn btn-secondary btn-lg btn-block" href="#" role="button">Check Out</a>
</div>