<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Show checkins', working_days_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Generate Report</a>
  </li>
</ul>