<!DOCTYPE html>
<html>
  <head>
    <title>Employeesapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/bootstrap' %>
  </head>

  <body style="height: 100vh !important;">

    <%= render 'shared/navbar' %>

    <!-- Flash Messages -->
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-primary" %>
    <% end %>

    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
